<!-- <div class="container">
  <p>{{'home.title' | translate}}</p>
  <div class="row">
    <h2>Choose your language {{'Welcome' | translate}}</h2>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let language of translate.getLangs()">
      {{llanguage}}
    </div>
    
  </div>
</div> -->
<!-- <form>
  <input type="file" (change)="onSelectFile($event)">
  <br>
  <br>
  <button  type="button" (click)="performUpload()">Submit your choice</button>
  </form>
  <div *ngIf="imageSrc">
  <img src="{{imageSrc}}" width="400px" height="400px">
  </div> -->
<router-outlet></router-outlet>